body{
  background-color: #C0FFEE;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

#clock {
  font-size: 35vh;
}

#time {
  font-size: 10vh;
  color: #222222;
}

a {
    text-decoration: none;
    color: white;
}
