body{
  background-color: #900C3F;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

#home{
  position: absolute;
  top: 50vh;
  margin-top: -30vmin;
  font-size: 60vmin;
}

#time, #backIn {
  font-size: 30vh;
}

.clock {
  font-size: 10vh;
  color: #222222;
}
