body{
  background-color: #454649;
  font-family: Arial, sans-serif;
  color: #222222;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

#home{
  position: absolute;
  top: 50vh;
  margin-top: -30vmin;
  font-size: 60vmin;
}

#time, #backIn {
  font-size: 10vh;
}

.clock {
  font-size: 35vh;
}
